<!-- Title: sign-in.component.html
Authors: Professor Richard Krasso and Brock Hemsouvanh
Modified by: Brock Hemsouvanh on 04/28/2024
Date: 4/26/2024
Description: Sign-in component template for GPA Calculator App, facilitating student authentication via student ID.
-->

<div fxLayout="column">
  <div fxFlex>

    <mat-card class="mat-elevation-z8 signin-container">
      <mat-card-title>
        Student Sign In
      </mat-card-title>

      <mat-card-subtitle>
        You must enter a valid student ID to proceed.
      </mat-card-subtitle>

      <mat-card-content>
        <div class="msg-error" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <mat-card fxLayout="column" fxLayoutGap="10px">
          <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

            <mat-card-content>
              <mat-form-field fxFlex appearance="fill">

                <mat-label>Student ID</mat-label>

                <input type="text" matInput formControlName="studentId" id="txtStudentId" />
              </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
              <button type="submit" fxFlex mat-raised-button color="primary">Submit</button>
            </mat-card-actions>

          </form>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
