<!--
File name: about.component.html
Description: Displays a bio for the chosen composer.
Author: Brock Hemsouvanh and Professor Richard Krasso
Date: 2024-03-30
-->

<br /><br />
<div class="container">
  <div class="row">
    <div class="col">
      <img src="assets/istockphoto-brahms.jpg" alt="Johannes Brahms" class="composer-image">
    </div>
    <div class="col">
      <h2>About Johannes Brahms</h2>
      <p>Johannes Brahms (1833-1897) was a monumental figure in the world of classical music, celebrated for his mastery over symphonic
        and sonata style in the Romantic era. Born in Hamburg, Germany, his journey began as a prodigious pianist, tutored initially by
        his father and later by renowned instructors. His breakthrough came through the endorsement of Robert Schumann, after which
        Brahms’s compositions rapidly gained acclaim. Throughout his life, Brahms’s work, including symphonies, concerti, chamber music,
        and over 200 songs, reflected a deep reverence for the classical traditions of Haydn, Mozart, and Beethoven, juxtaposed with the
        Romantic period's expressive depth. Notably, his compositions like “A German Requiem” and “Hungarian Dances” exhibit an exquisite
        blend of classical sophistication and the emotive force of Romanticism. Brahms’s legacy as a bridge between classical discipline
        and Romantic expression endures, positioning him alongside musical giants.<a href="https://www.britannica.com/biography/Johannes-Brahms" target="_blank">source</a></p>

    </div>
  </div>
</div>

