<!--
File name: contact.component.html
Description: Displays contact info for the composer app.
Author: Brock Hemsouvanh and Professor Richard Krasso
Date: 2024-03-30
-->

<br /><br />
<div class="container">
  <!-- Title Row -->
  <div class="row">
    <div class="col-12">
      <h2>Contact</h2>
    </div>
  </div>
  <!-- Content Row -->
  <div class="row">
    <!-- Address Column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-envelope"></i> Address</h5>
          <p class="card-text">123 Composer Lane<br>Music City, 12345</p>
        </div>
      </div>
    </div>
    <!-- Phone Number Column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-phone"></i> Phone Number</h5>
          <p class="card-text">(123) 456-7890</p>
        </div>
      </div>
    </div>
  </div>
</div>
