/**
 * File name: composer-list.component.css
 * File description: Stylesheet for the Composer List component of the composer-app.
 * Author(s): Brock Hemsouvanh and Professor Richard Krasso
 * Date created: 2024-04-11
 */

 .txtSearch {
  width: 30%;
  float: right;
  margin-bottom: 5px;
 }
